.c-container {
  max-width: 1220px;
  margin: auto;
  padding: 0 1.5rem;
}

.c-row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
}
.c-row--items-center {
  align-items: center;
}
.c-row--items-flex-end {
  align-items: flex-end;
}

.c-row--justify-center {
  justify-content: center;
}
.c-row--justify-between {
  justify-content: space-between;
}

.c-row--flex-flow--column {
  flex-wrap: column wrap;
}
.c-mb-0 {
  margin-bottom: 0px;
}
.c-mb-2 {
  margin-bottom: 2px;
}
.c-mb-4 {
  margin-bottom: 4px;
}
.c-mb-6 {
  margin-bottom: 6px;
}
.c-mb-8 {
  margin-bottom: 8px;
}
.c-mb-10 {
  margin-bottom: 10px;
}
.c-mb-12 {
  margin-bottom: 12px;
}
.c-mb-14 {
  margin-bottom: 14px;
}
.c-mb-16 {
  margin-bottom: 16px;
}
.c-mb-18 {
  margin-bottom: 18px;
}
.c-mb-20 {
  margin-bottom: 20px;
}
.c-mb-22 {
  margin-bottom: 22px;
}
.c-mb-24 {
  margin-bottom: 24px;
}
.c-mb-32 {
  margin-bottom: 32px;
}
.c-mb-40 {
  margin-bottom: 40px;
}
.c-mb-64 {
  margin-bottom: 64px;
}
.c-mb-72 {
  margin-bottom: 72px;
}

.c-mt-80 {
  margin-top: 80px;
}
.c-pb-44 {
  padding-bottom: 44px;
}

.c-col-1 {
  flex: 1 0 8.33%;
  max-width: 8.33%;
  padding: 0 1.125rem;
}
.c-col-2 {
  flex: 1 0 16.66%;
  max-width: 16.66%;
  padding: 0 1.125rem;
}
.c-col-3 {
  flex: 1 0 25%;
  max-width: 25%;
  padding: 0 1.125rem;
}
.c-col-4 {
  flex: 1 0 33.33%;
  max-width: 33.33%;
  padding: 0 1.125rem;
}
.c-col-5 {
  flex: 1 0 41.66%;
  max-width: 41.66%;
  padding: 0 1.125rem;
}
.c-col-6 {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 0 1.125rem;
}
.c-col-7 {
  flex: 1 0 58.33%;
  max-width: 58.33%;
  padding: 0 1.125rem;
}
.c-col-8 {
  flex: 1 0 66.66%;
  max-width: 66.66%;
  padding: 0 1.125rem;
}
.c-col-9 {
  flex: 1 0 75%;
  max-width: 75%;
  padding: 0 1.125rem;
}
.c-col-10 {
  flex: 1 0 83.33%;
  max-width: 83.33%;
  padding: 0 1.125rem;
}
.c-col-11 {
  flex: 1 0 91.66%;
  max-width: 91.66%;
  padding: 0 1.125rem;
}
.c-col-12 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 0 1.125rem;
}
.c-dis-none {
  display: none;
}
.c-dis-block {
  display: block;
}

@media (min-width: 768px) {
  .c-mb-md-0 {
    margin-bottom: 0px !important;
  }
  .c-mb-md-40 {
    margin-bottom: 40px;
  }
  .c-mb-md-60 {
    margin-bottom: 60px;
  }
  .c-mb-md-85 {
    margin-bottom: 85px;
  }
  .c-pb-md-40 {
    padding-bottom: 40px;
  }
  .c-pb-md-66 {
    padding-bottom: 66px;
  }
  .c-row-md--items-center {
    align-items: center;
  }
  .c-row-md--justify-center {
    justify-content: center;
  }
  .c-row-md--justify-center {
    justify-content: center;
  }
  .c-pr-md {
    padding: 0 2.5rem 0 1.125rem !important;
  }
  .c-col-md-1 {
    flex: 1 0 8.33%;
    max-width: 8.33%;
    padding: 0 1.125rem;
  }
  .c-col-md-2 {
    flex: 1 0 16.66%;
    max-width: 16.66%;
    padding: 0 1.125rem;
  }
  .c-col-md-3 {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 0 1.125rem;
  }
  .c-col-md-4 {
    flex: 1 0 33.33%;
    max-width: 33.33%;
    padding: 0 1.125rem;
  }
  .c-col-md-5 {
    flex: 1 0 41.66%;
    max-width: 41.66%;
    padding: 0 1.125rem;
  }
  .c-col-md-6 {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 1.125rem;
  }
  .c-col-md-7 {
    flex: 1 0 58.33%;
    max-width: 58.33%;
    padding: 0 1.125rem;
  }
  .c-col-md-8 {
    flex: 1 0 66.66%;
    max-width: 66.66%;
    padding: 0 1.125rem;
  }
  .c-col-md-9 {
    flex: 1 0 75%;
    max-width: 75%;
    padding: 0 1.125rem;
  }
  .c-col-md-10 {
    flex: 1 0 83.33%;
    max-width: 83.33%;
    padding: 0 1.125rem;
  }
  .c-col-md-11 {
    flex: 1 0 91.66%;
    max-width: 91.66%;
    padding: 0 1.125rem;
  }
  .c-col-md-12 {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0 1.125rem;
  }
  .c-dis-md-none {
    display: none;
  }
  .c-dis-md-block {
    display: block;
  }
}

@media (min-width: 1024px) {
  .c-container {
    max-width: 1220px;
    margin: auto;
    padding: 0 1.125rem;
  }
  .c-row-lg--items-center {
    align-items: center;
  }
  .c-row-lg--justify-center {
    justify-content: center;
  }
  .c-row-lg--justify-between {
    justify-content: space-between;
  }
  .c-mb-lg-0 {
    margin-bottom: 0px;
  }
  .c-mb-lg-110 {
    margin-bottom: 110px;
  }
  .c-mb-lg-100 {
    margin-bottom: 100px;
  }
  .c-mb-lg-48 {
    margin-bottom: 48px;
  }
  .c-mb-lg-64 {
    margin-bottom: 64px;
  }
  .c-mb-lg-20 {
    margin-bottom: 20px;
  }
  .c-mb-lg-24 {
    margin-bottom: 24px;
  }
  .c-mb-lg-72 {
    margin-bottom: 72px;
  }
  .c-col-lg-1 {
    flex: 1 0 8.33%;
    max-width: 8.33%;
    padding: 0 1.125rem;
  }
  .c-col-lg-2 {
    flex: 1 0 16.66%;
    max-width: 16.66%;
    padding: 0 1.125rem;
  }
  .c-col-lg-3 {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 0 1.125rem;
  }
  .c-col-lg-4 {
    flex: 1 0 33.33%;
    max-width: 33.33%;
    padding: 0 1.125rem;
  }
  .c-col-lg-5 {
    flex: 1 0 41.66%;
    max-width: 41.66%;
    padding: 0 1.125rem;
  }
  .c-col-lg-6 {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 1.125rem;
  }
  .c-col-lg-7 {
    flex: 1 0 58.33%;
    max-width: 58.33%;
    padding: 0 1.125rem;
  }
  .c-col-lg-8 {
    flex: 1 0 66.66%;
    max-width: 66.66%;
    padding: 0 1.125rem;
  }
  .c-col-lg-9 {
    flex: 1 0 75%;
    max-width: 75%;
    padding: 0 1.125rem;
  }
  .c-col-lg-10 {
    flex: 1 0 83.33%;
    max-width: 83.33%;
    padding: 0 1.125rem;
  }
  .c-col-lg-11 {
    flex: 1 0 91.66%;
    max-width: 91.66%;
    padding: 0 1.125rem;
  }
  .c-col-lg-12 {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0 1.125rem;
  }
  .c-dis-lg-none {
    display: none;
  }
  .c-dis-lg-block {
    display: block;
  }
}

@media (min-width: 1280px) {
  .c-col-xl-1 {
    flex: 1 0 8.33%;
    max-width: 8.33%;
    padding: 0 1.125rem;
  }
  .c-col-xl-2 {
    flex: 1 0 16.66%;
    max-width: 16.66%;
    padding: 0 1.125rem;
  }
  .c-col-xl-3 {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 0 1.125rem;
  }
  .c-col-xl-4 {
    flex: 1 0 33.33%;
    max-width: 33.33%;
    padding: 0 1.125rem;
  }
  .c-col-xl-5 {
    flex: 1 0 41.66%;
    max-width: 41.66%;
    padding: 0 1.125rem;
  }
  .c-col-xl-6 {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 0 1.125rem;
  }
  .c-col-xl-7 {
    flex: 1 0 58.33%;
    max-width: 58.33%;
    padding: 0 1.125rem;
  }
  .c-col-xl-8 {
    flex: 1 0 66.66%;
    max-width: 66.66%;
    padding: 0 1.125rem;
  }
  .c-col-xl-9 {
    flex: 1 0 75%;
    max-width: 75%;
    padding: 0 1.125rem;
  }
  .c-col-xl-10 {
    flex: 1 0 83.33%;
    max-width: 83.33%;
    padding: 0 1.125rem;
  }
  .c-col-xl-11 {
    flex: 1 0 91.66%;
    max-width: 91.66%;
    padding: 0 1.125rem;
  }
  .c-col-xl-12 {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0 1.125rem;
  }
}
